body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    background: linear-gradient(100deg,#ff5757,tomato);
    height: 100vh;
    overflow: hidden;
}

.logo {
    margin-left: 50px;
    margin-top: 100px;
    background-image: url(/Images/PetShop.png);
    width: 40%;
    height: 40%;
    background-repeat: no-repeat;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 2s;
    width: 400px;
    background: white;
    border-radius: 10px;
}

    .center h1 {
        color: tomato;
        text-align: center;
        border-bottom: 1px solid red;
    }

    .center form {
        padding: 0 40px;
        box-sizing: border-box;
    }

form .txt_field {
    position: relative;
    border-bottom: 1px solid orange;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: tomato;
    transition: 0.2s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
    top: -5px;
    color: tomato;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
    width: 100%;
}

.pass {
    margin: -5px 0 20px 5px;
    cursor: pointer;
    color: tomato;
}

    .pass:hover {
        text-decoration: underline;
        color: orangered;
    }

.btn_login, #btn_fogotPass {
    width: 100%;
    height: 50px;
    background: tomato;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    color: aliceblue;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.btn_login:hover {
   border-color: tomato;
   transition: 50ms;
}

.signUp {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signUp a {
    color: #2691d9;
    text-decoration: none;
}

.signUp a:hover {
    text-decoration: underline;
}
